# Required
PG_USER=app
PG_PASSWORD=sample
PG_HOST=sample
PG_DB=sample
ES_HOST=sample
# REDIS_HOST=sample
# # Optional
PG_PORT=sample
ES_PORT=sample
REDIS_HOST=sample
ELASTIC_HOST=sample
SERVICE_URL=sample